<!-- Default scripts-->
<script src="https://code.jquery.com/jquery-1.10.0.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/js/core/libraries/bootstrap.min.js"></script>
<!-- Defailt scripts-->


<script type="text/javascript" src="/js/pages/jqueryui_forms.js"></script>
<script type="text/javascript" src="/js/core/libraries/jquery_ui/interactions.min.js"></script>
<script type="text/javascript" src="/js/core/libraries/jquery_ui/widgets.min.js"></script>
<script type="text/javascript" src="/js/core/libraries/jquery_ui/effects.min.js"></script>
<script type="text/javascript" src="/js/plugins/extensions/mousewheel.min.js"></script>
<script type="text/javascript" src="/js/core/libraries/jquery_ui/globalize/globalize.js"></script>
<script type="text/javascript" src="/js/core/libraries/jquery_ui/globalize/cultures/globalize.culture.de-DE.js"></script>
<script type="text/javascript" src="/js/core/libraries/jquery_ui/globalize/cultures/globalize.culture.ja-JP.js"></script>

<script type="text/javascript" src="/js/plugins/forms/inputs/formatter.min.js"></script>
<script type="text/javascript" src="/js/plugins/forms/inputs/maxlength.min.js"></script>

<script type="text/javascript" src="/js/plugins/notifications/bootbox.min.js"></script>
<script type="text/javascript" src="/js/plugins/notifications/sweet_alert.min.js"></script>
<script type="text/javascript" src="/js/pages/components_modals.js"></script>


<script src="/js/pedidos/historicoPedido.js"></script>
<link href="./styles/main.css" rel="stylesheet" type="text/css">



<!-- <button  class="btn btn-success" data-toggle="modal" data-target="#agregarUsuario" >Agregar</button> -->



<div class="panel panel-flat">
  <div class="panel-heading">
    <h5 class="panel-title">HISTORICO DE PEDIDOS</h5>
    <div class="heading-elements">
      <ul class="icons-list">
                <li><a data-action="reload"></a></li>
              </ul>
            </div>
  </div>

  <div class="panel-body">
  </div>

  <table class="table datatable-generated">
    <thead>
            <tr>
                <th >DETALLE</th>
                <th>DIA</th>
                <th>MES</th>
                <th>AÑO</th>
                <th>CLIENTE</th>
                <th>TELEFONO</th>
                <th>Status</th>
            </tr>
        </thead>
  </table>
</div>
