

              </div>
              <!-- Footer -->
              <div class="footer text-muted">
                &copy; 2017. <a href="#">Dash modificado</a> by <a href="#" target="_blank">lalo</a>
              </div>
              <!-- /footer -->

            </div>
            <!-- /content area -->

          </div>
          <!-- /main content -->

        </div>
        <!-- /page content -->

      </div>
      <!-- /page container -->


    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <!--SCRIPTS END-->

  <!--
   ____                       _ ____       __ _ _
  / ___|___  _ __ ___        | / ___|     / _(_) | ___  ___
 | |   / _ \| '__/ _ \    _  | \___ \    | |_| | |/ _ \/ __|
 | |__| (_) | | |  __/   | |_| |___) |   |  _| | |  __/\__ \
  \____\___/|_|  \___|    \___/|____/    |_| |_|_|\___||___/  -->

      <script type="text/javascript" src="/js/plugins/loaders/pace.min.js"></script>
      <script type="text/javascript" src="/js/plugins/loaders/blockui.min.js"></script>

      <script type="text/javascript" src="/js/core/app.js"></script>
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css"> <!-- UI -->

  <!--
      _ ____    _   _ _____ ___ _     ____
     | / ___|  | | | |_   _|_ _| |   / ___|
  _  | \___ \  | | | | | |  | || |   \___ \
 | |_| |___) | | |_| | | |  | || |___ ___) |
  \___/|____/   \___/  |_| |___|_____|____/  -->


  <!-- /upload image -->
    <script type="text/javascript" src="/js/plugins/uploaders/fileinput.min.js"></script>
    <script type="text/javascript" src="/js/pages/uploader_bootstrap.js"></script>
    <!-- <script type="text/javascript" src="/js/pages/uploader_bootstrap.js"></script> -->

    <!-- format phone -->
    <script type="text/javascript" src="/js/plugins/forms/inputs/formatter.min.js"></script>
    <!-- maxlength <--></-->
    <script type="text/javascript" src="/js/plugins/forms/inputs/maxlength.min.js"></script>
    <!-- validation -->
    <script type="text/javascript" src="/js/plugins/forms/selects/bootstrap_multiselect.js"> </script>
    <script type="text/javascript" src="/js/plugins/forms/inputs/touchspin.min.js"></script>
    <script type="text/javascript" src="/js/plugins/forms/selects/select2.min.js"></script>
     <script type="text/javascript" src="/js/plugins/forms/styling/switch.min.js"></script>
    <script type="text/javascript" src="/js/plugins/forms/styling/switchery.min.js"></script>
    <script type="text/javascript" src="/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="/js/plugins/forms/validation/validate.min.js"></script>
    <script type="text/javascript" src="/js/pages/form_validation.js"></script>
    <!--table -->
    <script type="text/javascript" src="/js/plugins/tables/datatables/datatables.min.js"></script>
    <!--table -->






</body>
</html>
