
<!-- Default scripts-->
<script src="https://code.jquery.com/jquery-1.10.0.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/js/core/libraries/bootstrap.min.js"></script>
<!-- Defailt scripts-->



<div id="map"></div>



<script>
      function initMap() {
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
            center: {lat: 17.0605261, lng: -96.7274808},
            zoom: 16
        });
      }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key= AIzaSyCBcODpvQckBtgIL37Wnjb_D0MY0RL0ucM&callback=initMap">
    </script>
